{% extends "base.html" %} {% block title %}Home{% endblock %} 
{% block content%}
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/output.css') }}">
<div class="grid grid-cols-1 lg:grid-cols-2 p-6 lg:px-36 py-12">
    <div>
        <h1 class="text-3xl font-semibold text-center">
            Finde deine lieblings Influencer
            hier auf <span class=""
                style="background: linear-gradient(to bottom right, rgb(238, 7, 7), rgb(167, 124, 44)); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Datalyzer.ch</span>
            und entdecke statistiken zu ihnen</h1>
    </div>
    <div>

    </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 px-6 lg:px-36">
    <div class="rounded p-2 my-4 mx-2 md:mx-4 lg:mx-6 flex justify-center overflow-hidden shadow-lg"
        style="background: linear-gradient(red, rgba(255, 0, 0, 0.7));"><!--first card -->
        <div class="p-4">
            <div class="grid grid-cols-2 bg-gray-200 rounded-md my-1 p-1.5 w-full">
                <div class="text-sm font-semibold text-red-600">
                    Youtube <img class="inline" src="../images/youtube.png" height="36px" width="36px">

                </div>
                <div class="flex self-center justify-self-end font-semibold text-red-600">Ø likes</div>
            </div>
            <div class="justify-between bg-white rounded-md">
                <div class="grid grid-cols-3 gap-2">
                    <div class="p-2 font-bold" style="color: rgb(228, 195, 113); ">#1</div><!--rang-->
                    <div class="p-2">Streamer</div> <!--youtuber name-->
                    <div class="p-2 justify-self-end"> likes</div> <!--view/likes/abos-->
                </div>
                <div class="grid grid-cols-3 gap-2">
                    <div class="p-2 font-bold" style="color: rgb(192, 192, 192); ">#2</div><!--rang-->
                    <div class="p-2">Streamer</div> <!--youtuber name-->
                    <div class="p-2 justify-self-end"> likes</div> <!--view/likes/abos-->
                </div>
                <div class="grid grid-cols-3 gap-2">
                    <div class="p-2 font-bold" style="color: rgb(140, 120, 83); ">#3</div><!--rang-->
                    <div class="p-2">Streamer</div> <!--youtuber name-->
                    <div class="p-2 justify-self-end"> likes</div> <!--view/likes/abos-->
                </div>

            </div>

            <a href="charts.html">
                <button
                    class="select-none rounded-lg bg-white py-3 px-6 my-2 text-center align-bottom font-sans text-xs font-bold uppercase text-red-600 shadow-md "
                    type="button" data-ripple-light="true">
                    Go to full Stats
                </button>
            </a>
        </div>

    </div>
    <div class="rounded p-2 my-4 mx-2 md:mx-4 lg:mx-6 flex justify-center overflow-hidden shadow-lg"
        style="background: linear-gradient(red, rgba(255, 0, 0, 0.707));"><!--second card -->
        <div class="p-4">
            <div class="grid grid-cols-2 bg-gray-200 rounded-md my-1 p-1.5 w-full">
                <div class="text-sm font-semibold text-red-600">
                    Youtube <img class="inline" src="../images/youtube.png" height="36px" width="36px">

                </div>
                <div class="flex self-center font-semibold justify-self-end  text-red-600">Subscriber</div>
            </div>
            <div class="justify-between bg-white rounded-md">
                <div class="grid grid-cols-3 gap-2">
                    <div class="p-2 font-bold" style="color: rgb(228, 195, 113); ">#1</div><!--rang-->
                    <div class="p-2">Streamer</div> <!--youtuber name-->
                    <div class="p-2 justify-self-end"> Subs</div> <!--view/likes/abos-->
                </div>
                <div class="grid grid-cols-3 gap-2">
                    <div class="p-2 font-bold" style="color: rgb(192, 192, 192); ">#2</div><!--rang-->
                    <div class="p-2">Streamer</div> <!--youtuber name-->
                    <div class="p-2 justify-self-end">subs</div> <!--view/likes/abos-->
                </div>
                <div class="grid grid-cols-3 gap-2">
                    <div class="p-2 font-bold" style="color: rgb(140, 120, 83); ">#3</div><!--rang-->
                    <div class="p-2">Streamer</div> <!--youtuber name-->
                    <div class="p-2 justify-self-end"> subs</div> <!--view/likes/abos-->
                </div>

            </div>

            <a href="charts.html">
                <button
                    class="select-none rounded-lg bg-white py-3 px-6 my-2 text-center align-bottom font-sans text-xs font-bold uppercase text-red-600 shadow-md "
                    type="button" data-ripple-light="true">
                    Go to full Stats
                </button>
            </a>
        </div>

    </div>
    <div class="rounded p-2 my-4 mx-2 md:mx-4 lg:mx-6 flex justify-center overflow-hidden shadow-lg"
        style="background: linear-gradient(red,rgba(255, 0, 0, 0.701));"><!--third card -->
        <div class="p-4">
            <div class="grid grid-cols-2 bg-gray-200 rounded-md my-1 p-1.5 w-full">
                <div class="text-sm font-semibold text-red-600">
                    Youtube <img class="inline" src="../images/youtube.png" height="36px" width="36px">

                </div>
                <div class="flex self-center font-semibold justify-self-end text-red-600">Ø views</div>
            </div>
            <div class="justify-between bg-white rounded-md">
                <div class="grid grid-cols-3 gap-2">
                    <div class="p-2 font-bold" style="color: rgb(228, 195, 113); ">#1</div><!--rang-->
                    <div class="p-2">Streamer</div> <!--youtuber name-->
                    <div class="p-2 justify-self-end">views</div> <!--view/likes/abos-->
                </div>
                <div class="grid grid-cols-3 gap-2">
                    <div class="p-2 font-bold" style="color: rgb(192, 192, 192); ">#2</div><!--rang-->
                    <div class="p-2">Streamer</div> <!--youtuber name-->
                    <div class="p-2 justify-self-end">views</div> <!--view/likes/abos-->
                </div>
                <div class="grid grid-cols-3 gap-2">
                    <div class="p-2 font-bold" style="color: rgb(140, 120, 83); ">#3</div><!--rang-->
                    <div class="p-2">Streamer</div> <!--youtuber name-->
                    <div class="p-2 justify-self-end">views</div> <!--view/likes/abos-->
                </div>

            </div>

            <a href="charts.html">
                <button
                    class="select-none rounded-lg bg-white py-3 px-6 my-2 text-center align-bottom font-sans text-xs font-bold uppercase text-red-600 shadow-md "
                    type="button" data-ripple-light="true">
                    Go to full Stats
                </button>
            </a>
        </div>
    </div>
    <div class="rounded p-2 my-4 mx-2 md:mx-4 lg:mx-6 flex justify-center overflow-hidden shadow-lg"
        style="background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );"><!--third card -->
        <div class="p-4">
            <div class="grid grid-cols-2 bg-gray-200 rounded-md my-1 p-1.5 w-full">
                <div class="text-sm font-semibold" style="
            background: -webkit-linear-gradient(#e4a41a, #c30ffa);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;">
                    Instagram <img class="inline" src="../images/instagram.png" height="32px" width="32px">

                </div>
                <div class="flex self-center font-semibold justify-self-end" style="
            background: -webkit-linear-gradient(#e9a208, #c30ffa);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;"> Follower</div>
            </div>
            <div class="justify-between bg-white rounded-md">
                <div class="grid grid-cols-3 gap-2">
                    <div class="p-2 font-bold" style="color: rgb(228, 195, 113); ">#1</div><!--rang-->
                    <div class="p-2">Influencer</div> <!--youtuber name-->
                    <div class="p-2 justify-self-end">Follower</div> <!--view/likes/abos-->
                </div>
                <div class="grid grid-cols-3 gap-2">
                    <div class="p-2 font-bold" style="color: rgb(192, 192, 192); ">#2</div><!--rang-->
                    <div class="p-2">Influencer</div> <!--youtuber name-->
                    <div class="p-2 justify-self-end">Follower</div> <!--view/likes/abos-->
                </div>
                <div class="grid grid-cols-3 gap-2">
                    <div class="p-2 font-bold" style="color: rgb(140, 120, 83); ">#3</div><!--rang-->
                    <div class="p-2">Influencer</div> <!--youtuber name-->
                    <div class="p-2 justify-self-end">Follower</div> <!--view/likes/abos-->
                </div>

            </div>

            <a href="charts.html">
                <button
                    class="select-none rounded-lg bg-white py-3 px-6 my-2 text-center align-bottom font-sans text-xs font-bold uppercase text-orange-500 shadow-md "
                    type="button" data-ripple-light="true">
                    Go to full Stats
                </button>
            </a>
        </div>
    </div>
</div>
{% endblock %}