{% extends "base.html" %} {% block title %}Home{% endblock %} 
{% block content%}
<div style="display: flex;height: 100px;">
<h1><img style="height: 50px; border-radius: 50%;" src="{{youtuber_data[1]}}" alt="{{youtuber_data[0]}} Kanal Bild">{{youtuber_data[0]}}</h1>
</div>
<!-- Todo:
-Nindo Scrapper bearbeiten das Imgs auch gescappt werden
-youtube APi ausbinden und durch die daten des Scrappers ersetzten -->

<h3>{{youtuber_data[2]}}</h3>
{% if channel_list_len >= 1 %}
<h1>Kanäle die ihm gehören</h1>
{% for x in channel_list %}
<h2>{{x}}</h2>
{% endfor %}
{% endif %}
{% endblock %}
