<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="output.css">
    <title>Nindo-Fake</title>
</head>

<body class="bg-neutral-700">

    <nav class="bg-black">
        <div class="max-w flex flex-wrap items-center justify-between mx-auto p-4">


            <h1 class="justify-start text-3xl font-bold hover:scale-105"
                style="background: linear-gradient(to bottom right, rgb(238, 7, 7), rgb(167, 124, 44)); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
                <a href="index.html">Datalyzer</a>

            </h1>


            <div class="w-auto" id="navbar-default">
                <ul class="hidden  font-bold lg:flex flex-row p-4  rounded-lg space-x-8 border-0">

                    <li>
                        <a href="charts.html"
                            class="block py-2 pl-3 pr-4 text-white rounded p-0 hover:scale-105">Charts</a>
                    </li>
                    <li>
                        <a href="#" class="block py-2 pl-3 pr-4 text-white rounded p-0 hover:scale-105">Monitoring</a>
                    </li>
                    <li>
                        <a href="#" class="block py-2 pl-3 pr-4 text-white rounded p-0 hover:scale-105">Likes</a>
                    </li>
                    <li>
                        <a href="#" class="block py-2 pl-3 pr-4 text-white rounded p-0 hover:scale-105">Views</a>
                    </li>
                </ul>
            </div>
            <div class="lg:hidden flex items-center">
                <button class="outline-none mobile-menu-button">
                    <svg class=" w-6 h-6 text-gray-500 hover:scale-110" x-show="!showMenu" fill="none"
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </button>
            </div>

        </div>


        <!-- mobile menu -->
        <div class="hidden mobile-menu bg-black">
            <ul class="">
                <li><a href="charts.html"
                        class="block text-sm px-2 py-4 text-white hover:bg-neutral-700 transition duration-300">Charts</a>
                </li>
                <li><a href="#about"
                        class="block text-sm px-2 py-4 text-white hover:bg-neutral-700 transition duration-300">Monitoring</a>
                </li>
                <li><a href="#contact"
                        class="block text-sm px-2 py-4 text-white hover:bg-neutral-700 transition duration-300">Views</a>
                </li>
                <li><a href="#contact"
                        class="block text-sm px-2 py-4 text-white hover:bg-neutral-700 transition duration-300">Likes</a>
                </li>

            </ul>
        </div>
        <script>
            const btn = document.querySelector("button.mobile-menu-button");
            const menu = document.querySelector(".mobile-menu");

            btn.addEventListener("click", () => {
                menu.classList.toggle("hidden");
            });
        </script>

    </nav>

    <div class=" mt-12 p-6 mx-4 lg:mx-12">
        <h1 class="font-bold text-2xl text-white">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
        </h1>
    </div>

    <div class="p-6 mx-4 lg:mx-12">
        <h1 class=" text-center font-bold text-2xl text-white">
            Find Stats of your favorite Influencer here!!
        </h1>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
        <div class="rounded p-2 my-4 mx-2 md:mx-4 lg:mx-6 flex justify-center overflow-hidden shadow-lg"
            style="background: rgba(255, 0, 0, 0.344);">
            <div class="px-6 py-4">
                <span
                    class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-red-600 mr-2 mb-2">Youtube<img src="/images/youtube.png" height="24px" width="24px">
                </span>
                <p class="text-black text-base">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et
                    perferendis eaque, exercitationem praesentium nihil.
                </p>
                <a href="">
                    <button
                        class="select-none rounded-lg bg-white py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-red-600 shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                        type="button" data-ripple-light="true">
                        Read More
                    </button>
                </a>
            </div>

        </div>

        <div class="rounded p-2 my-4 mx-2 md:mx-4 lg:mx-6 flex justify-center overflow-hidden shadow-lg bg-white">
            <div class="px-6 py-4">
                <span
                    class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Youtube</span>
                <p class="text-black text-base">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et
                    perferendis eaque, exercitationem praesentium nihil.
                </p>
            </div>

        </div>
    </div>








</body>

</html>