<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@300&display=swap" rel="stylesheet">
    <title>Nindo-Fake</title>
</head>

<body class="font-mono"
    style="background: linear-gradient(90deg, rgba(156, 112, 62, 0.603) 0%, rgba(179, 175, 178, 0.952) 53%, rgba(153, 51, 4, 0.521) 100%);">

    <nav style="background-color: rgba(3, 3, 3, 0.603);">
        <div class="max-w flex flex-wrap items-center justify-between mx-auto p-4">


            <h1 class="justify-start text-3xl font-bold hover:scale-105 animate"
                style="background: linear-gradient(to bottom right, rgb(238, 7, 7), rgb(167, 124, 44)); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
                <a href="index.html">Datalyzer</a>

            </h1>


            <div class="w-auto" id="navbar-default">
                <ul class="hidden font-bold lg:flex flex-row p-4  rounded-lg space-x-8 border-0">

                    <li>
                        <a href="charts.html"
                            class="block py-2 pl-3 pr-4 text-white rounded p-0 hover:scale-105">Statistics</a>
                    </li>
                    <li>
                        <a href="#" class="block py-2 pl-3 pr-4 text-white rounded p-0 hover:scale-105">Youtube
                            Stats</a>
                    </li>
                    <li>
                        <a href="#" class="block py-2 pl-3 pr-4 text-white rounded p-0 hover:scale-105">Likes</a>
                    </li>
                    <li>
                        <a href="#" class="block py-2 pl-3 pr-4 text-white rounded p-0 hover:scale-105">Views</a>
                    </li>
                </ul>
            </div>
            <div class="lg:hidden flex items-center"> <!-- Hamburger icon for mobile view-->
                <button class="outline-none mobile-menu-button">
                    <svg class=" w-6 h-6 text-gray-500 hover:scale-110" x-show="!showMenu" fill="none"
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </button>
            </div>

        </div>


        <!-- mobile menu -->
        <div class="hidden mobile-menu" style="background-color: rgba(14, 14, 14, 0.781);">
            <ul>
                <li><a href="charts.html"
                        class="block text-sm px-2 py-4 text-white hover:bg-neutral-700 transition duration-300">Statistics</a>
                </li>
                <li><a href="#about"
                        class="block text-sm px-2 py-4 text-white hover:bg-neutral-700 transition duration-300">Youtube
                        Stats</a>
                </li>
                <li><a href="#contact"
                        class="block text-sm px-2 py-4 text-white hover:bg-neutral-700 transition duration-300">Views</a>
                </li>
                <li><a href="#contact"
                        class="block text-sm px-2 py-4 text-white hover:bg-neutral-700 transition duration-300">Likes</a>
                </li>

            </ul>
        </div>
        <script>
            const btn = document.querySelector("button.mobile-menu-button");
            const menu = document.querySelector(".mobile-menu");

            btn.addEventListener("click", () => {
                menu.classList.toggle("hidden");
            });
        </script>

    </nav>

    <div class="grid grid-cols-1 lg:grid-cols-2 p-6 lg:px-36 py-12">
        <div>
            <h1 class="text-5xl font-semibold text-center">
                Finde deine lieblings Influencer
                hier auf <span class=""
                    style="background: linear-gradient(to bottom right, rgb(238, 7, 7), rgb(167, 124, 44)); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Datalyzer.ch</span>
                und entdecke statistiken zu ihnen</h1>
        </div>
            <div class="grid grid-cols-2 p-6">
                <div class="flex justify-center">
                    <img class="w-48 h-56 rounded-md" src="https://datalyzer.ch/static/image/MontanaBlack.jpg" alt="monteeee!!!">
                </div>
                <div class="flex justify-center">
                    <img class="w-48 h-48 rounded-md" src="https://datalyzer.ch/static/image/Aldi_S%C3%BCd_2017_logo.svg.png" alt="aldiiii">
                </div>
            </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 px-6 lg:px-36">
        <div class="rounded p-2 my-4 mx-2 md:mx-4 lg:mx-6 flex justify-center overflow-hidden shadow-lg"
            style="background: linear-gradient(45deg , rgba(255, 0, 0, 0.6), rgba(255, 0, 0, 0.9));"><!--first card -->
            <div class="p-4">
                <div class="grid grid-cols-2 bg-gray-200 rounded-md my-1 p-1.5 w-full">
                    <div class="text-sm font-semibold text-red-600">
                        Youtube <img class="inline" src="https://datalyzer.ch/static/image/youtube.png" height="36px" width="36px">

                    </div>
                    <div class="flex self-center justify-self-end font-semibold text-red-600">Ø likes</div>
                </div>
                <div class="justify-between bg-white rounded-md">
                    <div class="grid grid-cols-3 gap-2">
                        <div class="p-2 font-bold" style="color: rgb(228, 195, 113); ">#1</div><!--rang-->
                        <div class="p-2">Streamer</div> <!--youtuber name-->
                        <div class="p-2 justify-self-end"> likes</div> <!--view/likes/abos-->
                    </div>
                    <div class="grid grid-cols-3 gap-2">
                        <div class="p-2 font-bold" style="color: rgb(192, 192, 192); ">#2</div><!--rang-->
                        <div class="p-2">Streamer</div> <!--youtuber name-->
                        <div class="p-2 justify-self-end"> likes</div> <!--view/likes/abos-->
                    </div>
                    <div class="grid grid-cols-3 gap-2">
                        <div class="p-2 font-bold" style="color: rgb(140, 120, 83); ">#3</div><!--rang-->
                        <div class="p-2">Streamer</div> <!--youtuber name-->
                        <div class="p-2 justify-self-end"> likes</div> <!--view/likes/abos-->
                    </div>

                </div>

                <a class="flex justify-center" href="charts.html">
                    <button
                        class=" flex select-none rounded-lg bg-white py-3 px-6 my-2 text-center items-center align-bottom font-sans text-xs font-bold uppercase text-red-600 shadow-md "
                        type="button" data-ripple-light="true">
                        Go to full Stats
                    </button>
                </a>
            </div>

        </div>
        <div class="rounded p-2 my-4 mx-2 md:mx-4 lg:mx-6 flex justify-center overflow-hidden shadow-lg"
            style="background: linear-gradient(45deg , rgba(255, 0, 0, 0.6), rgba(255, 0, 0, 0.9));"><!--second card -->
            <div class="p-4">
                <div class="grid grid-cols-2 bg-gray-200 rounded-md my-1 p-1.5 w-full">
                    <div class="text-sm font-semibold text-red-600">
                        Youtube <img class="inline" src="https://datalyzer.ch/static/image/youtube.png" height="36px" width="36px">

                    </div>
                    <div class="flex self-center font-semibold justify-self-end  text-red-600">Subscriber</div>
                </div>
                <div class="justify-between bg-white rounded-md">
                    <div class="grid grid-cols-3 gap-2">
                        <div class="p-2 font-bold" style="color: rgb(228, 195, 113); ">#1</div><!--rang-->
                        <div class="p-2">Streamer</div> <!--youtuber name-->
                        <div class="p-2 justify-self-end"> Subs</div> <!--view/likes/abos-->
                    </div>
                    <div class="grid grid-cols-3 gap-2">
                        <div class="p-2 font-bold" style="color: rgb(192, 192, 192); ">#2</div><!--rang-->
                        <div class="p-2">Streamer</div> <!--youtuber name-->
                        <div class="p-2 justify-self-end">subs</div> <!--view/likes/abos-->
                    </div>
                    <div class="grid grid-cols-3 gap-2">
                        <div class="p-2 font-bold" style="color: rgb(140, 120, 83); ">#3</div><!--rang-->
                        <div class="p-2">Streamer</div> <!--youtuber name-->
                        <div class="p-2 justify-self-end"> subs</div> <!--view/likes/abos-->
                    </div>

                </div>

                <a class="flex justify-center" href="charts.html">
                    <button
                        class="select-none rounded-lg bg-white py-3 px-6 my-2 text-center align-bottom font-sans text-xs font-bold uppercase text-red-600 shadow-md "
                        type="button" data-ripple-light="true">
                        Go to full Stats
                    </button>
                </a>
            </div>

        </div>
        <div class="rounded p-2 my-4 mx-2 md:mx-4 lg:mx-6 flex justify-center overflow-hidden shadow-lg"
            style="background: linear-gradient(45deg , rgba(255, 0, 0, 0.6),rgba(255, 0, 0, 0.9));"><!--third card -->
            <div class="p-4">
                <div class="grid grid-cols-2 bg-gray-200 rounded-md my-1 p-1.5 w-full">
                    <div class="text-sm font-semibold text-red-600">
                        Youtube <img class="inline" src="https://datalyzer.ch/static/image/youtube.png" height="36px" width="36px">

                    </div>
                    <div class="flex self-center font-semibold justify-self-end text-red-600">Ø views</div>
                </div>
                <div class="justify-between bg-white rounded-md">
                    <div class="grid grid-cols-3 gap-2">
                        <div class="p-2 font-bold" style="color: rgb(228, 195, 113); ">#1</div><!--rang-->
                        <div class="p-2">Streamer</div> <!--youtuber name-->
                        <div class="p-2 justify-self-end">views</div> <!--view/likes/abos-->
                    </div>
                    <div class="grid grid-cols-3 gap-2">
                        <div class="p-2 font-bold" style="color: rgb(192, 192, 192); ">#2</div><!--rang-->
                        <div class="p-2">Streamer</div> <!--youtuber name-->
                        <div class="p-2 justify-self-end">views</div> <!--view/likes/abos-->
                    </div>
                    <div class="grid grid-cols-3 gap-2">
                        <div class="p-2 font-bold" style="color: rgb(140, 120, 83); ">#3</div><!--rang-->
                        <div class="p-2">Streamer</div> <!--youtuber name-->
                        <div class="p-2 justify-self-end">views</div> <!--view/likes/abos-->
                    </div>

                </div>

                <a class="flex justify-center" href="charts.html">
                    <button
                        class="select-none rounded-lg bg-white py-3 px-6 my-2 text-center align-bottom font-sans text-xs font-bold uppercase text-red-600 shadow-md "
                        type="button" data-ripple-light="true">
                        Go to full Stats
                    </button>
                </a>
            </div>
        </div>
        <div class="rounded p-2 my-4 mx-2 md:mx-4 lg:mx-6 flex justify-center overflow-hidden shadow-lg"
            style="background: #f09433; 
        background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
        background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );"><!--third card -->
            <div class="p-4">
                <div class="grid grid-cols-2 bg-gray-200 rounded-md my-1 p-1.5 w-full">
                    <div class="text-sm font-semibold" style="
                background: -webkit-linear-gradient(#e4a41a, #c30ffa);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;">
                        Instagram <img class="inline" src="https://datalyzer.ch/static/image/instagram.png" height="32px" width="32px">

                    </div>
                    <div class="flex self-center font-semibold justify-self-end" style="
                background: -webkit-linear-gradient(#e9a208, #c30ffa);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;"> Follower</div>
                </div>
                <div class="justify-between bg-white rounded-md">
                    <div class="grid grid-cols-3 gap-2">
                        <div class="p-2 font-bold" style="color: rgb(228, 195, 113); ">#1</div><!--rang-->
                        <div class="p-2">Influencer</div> <!--youtuber name-->
                        <div class="p-2 justify-self-end">Follower</div> <!--view/likes/abos-->
                    </div>
                    <div class="grid grid-cols-3 gap-2">
                        <div class="p-2 font-bold" style="color: rgb(192, 192, 192); ">#2</div><!--rang-->
                        <div class="p-2">Influencer</div> <!--youtuber name-->
                        <div class="p-2 justify-self-end">Follower</div> <!--view/likes/abos-->
                    </div>
                    <div class="grid grid-cols-3 gap-2">
                        <div class="p-2 font-bold" style="color: rgb(140, 120, 83); ">#3</div><!--rang-->
                        <div class="p-2">Influencer</div> <!--youtuber name-->
                        <div class="p-2 justify-self-end">Follower</div> <!--view/likes/abos-->
                    </div>

                </div>

                <a class=" flex justify-center" href="charts.html">
                    <button
                        class="select-none rounded-lg bg-white py-3 px-6 my-2 text-center align-bottom font-sans text-xs font-bold uppercase text-orange-500 shadow-md "
                        type="button" data-ripple-light="true">
                        Go to full Stats
                    </button>
                </a>
            </div>
        </div>
    </div>
</body>

</html>